@import "compass/css3";

groups-selector-inline .wrapper {
  width: 600px;
  border: 1px solid #C5C5C5;
  @include border-radius(5px);

  .remove {
    width: 20px;
    height: 20px;
    margin: 3px 0 0 10px;

    span {
      font-size: 16px;
      margin: -3px 0 0 -1px;
      display: block;
    }
  }

  .groups-autocomplete {
    height: 42px;
    border-bottom: 1px solid #CCCCCC;

    .search_icon {
      top: 12px;
    }

    input {
      font-size: 14px;
      font-weight: normal;
      font-family: 'Open Sans', sans-serif;
      padding: 0 15px;
    }
  }

  .groups-list {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      padding: 8px 18px;
      background: #F2F2F2;
      border-bottom: 1px solid #C7C7C7;

      &:last-child {
        border: none;
        @include border-bottom-radius(5px);
      }
    }
  }

  .ui-autocomplete {
    @include border-top-radius(0 0);

    .ui-menu-item a {
      line-height: 35px;
      font-size: 14px;
      padding-left: 10px !important;
      margin: 0 !important;
    }

    &.ui-menu {
      overflow: auto;
      max-height: 150px;
    }
  }
}
