@import "compass/css3";

.groupSelectorModal, .filterCategoriesModal, .filterStatusesModal, .filterAuthorModal, .filterGroupsModal {
  .modal-dialog {
    width: 500px;
  }

  .modal-body {
    padding: 0;

    .categoryName {
      width: 100%;
      padding: 8px 19px;
      display: block;
      background: #E2E2E2;
      border-bottom: 1px solid #D9D9D9;
      color: #666666;
      border-top: 1px solid #D9D9D9;
      text-decoration: none;

      .glyphicon-chevron-down {
        @include transition(all 400ms ease-in-out);
        float: right;

        &.active {
          @include transform(rotate(-180deg));
        }
      }
    }

    .categories_search {
      background: #E6E6E6;
      border: 1px solid #CCCCCC;
      border-right: 0;
      border-left: 0;
      position: relative;
      color: #999;

      .search_icon {
        position: absolute;
        margin: 12px 0 0 13px;
        color: #999;
      }

      input {
        width: 100%;
        background: #E6E6E6;
        padding: 10px 38px;
        border: 0;
        outline: none;
      }
    }

    ul {
      list-style: none;
      padding: 0;

      a {
        display: block;
        width: 100%;
        background: #F2F2F2;
        padding: 9px 16px;
        cursor: pointer;
        color: #000;
        text-decoration: none;
        padding-left: 42px;
        border-bottom: 1px solid #E5E5E5;
        position: relative;

        i {
          margin-right: 8px;
        }

        &.selected {
          background: #E6E6E6;
          padding-left: 16px;
        }

        &.status span {
          display: block;
          content: '';
          width: 100%;
          top: 0;
          left: 0;
          height: 100%;
          float: left;
          position: absolute;
          opacity: 0.3;

          &.not-selected {
            background: #F2F2F2 !important;
          }
        }

        &.status b {
          display: block;
          content: '';
          width: 4px;
          top: 0;
          left: 0;
          height: 100%;
          float: left;
          position: absolute;
          background: #000;
        }
      }

      ul li {
        border-left: 5px solid #259ECB;

        a {
          background: #FFF;
        }
      }
    }

    .selectUsers {
      width: 100%;

      .user_search {
        background: #E6E6E6;
        border: 1px solid #CCCCCC;
        border-right: 0;
        border-left: 0;
        position: relative;
        color: #999;

        .search_icon {
          position: absolute;
          margin: 12px 0 0 13px;
          color: #999;
        }

        input {
          width: 100%;
          background: #E6E6E6;
          padding: 10px 38px;
          border: 0;
          outline: none;
        }
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
          padding: 7px 18px;
          background: #F0F0F0;
          border-bottom: 1px solid #CCCCCC;
        }
      }
    }
  }
}

.groupSelectorModal, .filterCategoriesModal, .filterGroupsModal {
  ul.fixed-height {
    height: 400px;
    overflow: auto;
    margin-bottom: 0;
  }

  .modal-footer {
    margin-top: 0;
  }
}

.filterAreaModal {
  .modal-dialog {
    width: 900px;
  }

  .modal-body {
    height: 440px;
    padding: 0;

    .area-map {
      width: 70%;
      height: 100%;
      float: left;
      border-right: 1px solid #CCCCCC;
      padding-right: 1px;

      .map {
        width: 100%;
        height: 100%;
      }
    }

    .info {
      width: 30%;
      height: 100%;
      float: left;
      background: #F3F3F3;
      padding: 15px;

      textarea {
        width: 100%;
        resize: none;
        box-shadow: none;
      }

      .lat-lng-inputs {
        margin-top: 10px;

        input {
          box-shadow: none;
          border-top: 0;
          border-radius: 0 0 4px 4px;

          &.lat {
            border-radius: 4px 4px 0 0;
            border-top: 1px solid #CCC;
          }

          &.form-error {
            border-color: #a94442;
          }
        }
      }

      .btn-default {
        margin: 10px 0 20px 0;
        color: #22ACD7;
      }

      h2 {
        font-size: 16px;
        font-weight: bold;
        margin: 7px 0 5px 0;
      }

      span {
        font-size: 16px;
      }
    }
  }

  .modal-footer {
    margin-top: 0;
    position: relative;

    .btn-default:after {
      content: '';
      border-right: 1px solid #D9D9D9;
      width: 1px;
      height: 100%;
      position: absolute;
      top: 0;
      margin: 0 0 0 35px;
    }

    .btn-group {
      margin-left: 45px;

      .btn-danger-inverse {
        background: #FFF;
        color: #D2322D;
      }
    }
  }
}

.fieldsCategoriesModal {
  .modal-dialog {
    width: 800px;
  }

  .modal-body {
    padding: 0;
  }

  .new_field {
    background: #F2F2F2;
    border-bottom: 1px solid #E5E5E5;
    padding: 15px 15px;

    .row {
      position: relative;
      margin-top: 10px;
      padding: 0 8px 0 8px;

      &.disabled {
        opacity: 0.6;
      }

      .block-disabled {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }

      .col {
        padding-right: 7px;
        padding-left: 7px;
      }
    }
  }

  .btn-group-block {
    width: 100%;
  }

  .btn-block {
    width: 100%;
    text-align: left;
    padding-left: 7px;

    .caret {
      float: right;
      margin: 8px 12px 0 0;
    }
  }

  .custom_table {
    thead {
      font-size: 12px;
      color: #666666;

      td {
        padding: 7px 7px 7px 15px;
      }
    }

    td {
      padding: 15px;
      vertical-align: middle;
    }

    .icon_action {
      font-size: 18px;
    }

    .actions {
      text-align: center;
    }

    .select2-container-multi .select2-choices .select2-search-choice div {
      float: left;
      width: 80px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .select2-container .select2-choice {
      max-width: 265px;
    }

  }
}

.periodSelectorModal {
  .modal-body {
    padding: 0;

    .tabs {
      margin: 0;
      margin-bottom: 10px;

      .tab {
        display: block;
        height: 50px;
        background: #F2F2F2;
        color: #000;
        border-bottom: 1px solid #E5E5E5;
        border-right: 1px solid #E5E5E5;

        &.active {
          background: #FFF;
          border-bottom: 0;
        }

        &:hover {
          text-decoration: none;
        }

        p {
          text-align: center;
          line-height: 45px;
        }
      }
    }

    .dates {
      margin: 0;
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;

      h2 {
        color: #259ECB;
        font-size: 20px;
        margin: 0 0 15px 0;
      }

      .col-xs-6 {
        padding: 0;
        position: relative;
        display: inline-block;

        table {
          display: inline-block;
        }

        .block {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: rgba(255, 255, 255, 0.8);
        }
      }

      .col-xs-6:first-child {
        border-right: 1px solid #E5E5E5;
      }
    }
  }

  .modal-footer {
    margin-top: 0;
  }
}

.filterNotificationModal {
  .modal-dialog {
    width: 450px;
  }

  .modal-body {
    .form-control {
      width: 50px;
      text-align: center;
      margin: 0 5px;
    }

    .input-slider-container {
      margin: 35px 0 25px 0;

      .grid-start-value,
      .grid-end-value {
        margin: 15px 0;
        color: #818181;
        font-weight: 500;
      }
    }
  }
}

.filterNotificationMininumNumberModal {
  .modal-dialog {
    width: 350px;
  }

  .modal-body {
    .form-control {
      width: 50px;
      text-align: center;
      margin: 0 5px;
    }
  }
}

.editInventoryStatusesModal {
  .modal-dialog {
    width: 400px;
  }

  .modal-footer {
    margin-top: 0;
  }
}

.filterQueryModal {
  .modal-dialog {
    width: 460px;
  }

  .modal-body {
    padding-top: 10px;

    textarea {
      min-height: 100px;
    }
  }

  .modal-footer {
    margin-top: 0;
  }
}

.shareModal {
  .modal-dialog {
    width: 500px;
  }

  .modal-footer {
    margin-top: 0;
  }

  .form-control {
    padding: 18px 14px;
  }

  .has-success .btn-custom {
    background: #468847;
  }

  .has-success .form-control {
    color: #468847;
  }

  .btn-custom {
    padding: 9px 26px;
  }
}

.editStatusModal .add-comment {
  textarea.form-control {
    box-shadow: none;
    resize: none;
    padding: 15px 20px;
    height: auto;

    @include transition-property(height);

    &:focus {
      box-shadow: 0 0 0 1px #4293C8;
    }
  }

  .options {
    margin-top: 20px;

    &.ng-hide-add,
    &.ng-hide-remove {
      @include transition-property(4s linear all);

      display: block !important;

      @include animation-fill-mode(both);
      @include animation-duration(0.6s);
      @include animation-name(flipInX);
    }

    &.ng-hide {
      @include animation-fill-mode(both);
      @include animation-duration(0.6s);
      @include animation-name(flipOutX);
    }

    .bootstrap-switch {
      min-width: 140px;
      float: left;
    }

    span.help {
      font-size: 12px;
      color: #CCC;
      margin: 7px 0 0 10px;
      float: left;
    }
  }
}
