@import "compass/css3";

.panzoomwidget {
  width: 20px;

  -webkit-touch-callout: none;
  @include user-select (none);

  .zoom-button {
    text-align: center;
    height: 20px;
    width: 100%;
    background-color: #FFF;
    cursor: hand;
    border-radius: 2px;

    @include box-shadow (2px 2px 2px 0 rgba(0, 0, 0, 0.2));
  }

  .zoom-button:hover {
    background-color: #ccc;
  }

  .zoom-level {
    width: 100%;
    border-left: 2px solid #FFF;
    margin-left: 10px;
  }

  .zoom-slider {
    position: relative;
    cursor: hand;
  }

  .zoom-slider-widget {
    position: absolute;
    width: 20px;
    background-color: #FFF;
    border-radius: 2px;

    @include box-shadow (2px 2px 2px 0 rgba(0, 0, 0, 0.2));
  }
}

.gallery-modal {
  width: 100%;
  height: 100%;
  background: #000;

  .modal-dialog {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;

    .modal-content {
      width: 100%;
      height: 100%;
      background-color: transparent;
      box-shadow: none;
      border: 0;
    }
  }

  .image-to-be-loaded {
    @include opacity(0);
  }

  .loading-image {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -64px;
    margin-left: -64px;
  }

  a.modal-icon {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 35px;
    color: #FFF;
    z-index: 1;
    background: rgba(0, 0, 0, 0.45);
    border-radius: 100%;
    width: 60px;
    height: 60px;
    text-align: center;
    line-height: 64px;

    &.save-image {
      top: 90px;
      right: 18px;
    }
  }

  .zoom-content {
    position: relative;
    height: 100%;
  }

  .panzoomwidget {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 1;
  }
}
