@import "compass/css3/transition";
@import "compass/css3/animation";

.modal-groups-select-user {
  .modal-dialog {
    width: 930px;
  }

  .modal-body {
    padding: 0;
  }

  .users-to-be-added {
    padding: 13px 16px;
    background: #FFF;
    border-bottom: 1px solid #E5E5E5;

    p {
      float: left;
      color: #999;
      margin: 6px 0;
    }

    button {
      float: right;
    }
  }

  .simple_search {
    border-bottom: 1px solid #E5E5E5;
    background: #F2F2F2;
    padding: 7px 0 7px 0;

    .search_column1 {
      position: relative;

      .search_icon {
        position: absolute;
        top: 11px;
        left: 17px;
        color: #B5B5B5;
      }

      input {
        width: 100%;
        color: #ADABAB;
        background: #F2F2F2;
        border: 0;
        padding: 8px 30px;
        outline: none;
      }
    }

    .filter_dropdown {
      float: right;
      margin-left: 7px;

      p {
        float: left;
        margin: 12px 10px 0 0;
      }

      .btn-group {
        margin-top: 1px;
        float: left;

        .dropdown-toggle {
          min-width: 158px;
          text-align: left;
        }
      }
    }
  }

  table {
    table-layout: fixed;
  }

  table td {
    padding: 10px 25px !important;
    vertical-align: middle !important;
    word-break: break-all;
  }

  table td.email {
    width: 330px;
  }
}
