@import "compass/css3";
@import "compass/typography/text/ellipsis";

.reports-notifications-modal {
  .modal-dialog {
    width: 905px;
  }

  .modal-header, .modal-body, .modal-footer {
    padding: 30px;
  }

  .modal-body {
    margin: -30px;
    font-size: 14px;
  }

  .btn-custom {
    width: 120px;
  }

  p {
    margin: 0;
  }

  .spacing {
    height: 30px;
  }

  .color-ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
  }

  .ui-select-bootstrap .ui-select-match {
    height: 50px;
    padding: 6px 20px;
    @include box-shadow(none);
  }

  .ui-select-bootstrap .ui-select-search {
    height: 50px;
    padding: 6px 20px;
  }

  table tbody, table thead {
    display: block;
  }

  table tbody {
    max-height: 400px;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  thead {
    tr {
      td {
        font-size: 12px;
      }
    }
  }

  tr {
    td {
      vertical-align: middle !important;
    }

    .type-cell {
      max-width: 250px;
      min-width: 250px;
      padding-left: 30px;
      @include ellipsis();
    }

    .status-cell {
      max-width: 150px;
      min-width: 150px;
    }

    .overdue-cell {
      max-width: 100px;
      min-width: 100px;
    }

    .date-cell {
      max-width: 110px;
      min-width: 110px;
    }

    .button-cell {
      max-width: 150px;
      min-width: 150px;
      padding-right: 30px;
    }

  }

  .status-color {
    display: inline-block;
    width: 10px;
    height: 10px;
    @include border-radius(10px);
  }

  .reports-notification-emitted {
    @include opacity(.5);
    padding-top: 6px;
    padding-bottom: 6px;
  }

  .modal-title {
    font-weight: bold;
  }
}

.notifications-history-table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  position: relative;

  thead {
    tr td {
      font-size: 12px;
    }
  }

  tbody {
    tr td:first-child {
      text-align: center;
      position: relative;
    }

    tr td:first-child, tr:last-child td {
      border-bottom: none;
    }
  }

  td.button-cell {
    text-align: right;
  }

  tr td {
    padding: 10px 0;
    border-bottom: 1px solid #ddd;

    span.line {
      border-right: 1px solid #d9d9d9;
      height: 100%;
      position: absolute;
      left: 50%;
    }

    span.date {
      display: inline-block;
      padding: 7px 12px;
      background: #F2F2F2;
      border: 1px solid #D9D9D9;
      @include border-radius(8px);
      color: #999;
      z-index: 2;
      position: relative;
    }

  }

}
