@import "compass/css3/transition";
@import "compass/css3/animation";

.reference-field {
  padding: 13px;
  width: 100%;
  height: 50px;
  border: 1px solid #CCCCCC;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  font-weight: 300;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
  box-shadow: none;
}

div.report-image {
  width: 100%;
  text-align: left;
  img {
    max-width: 150px !important;
    padding: 5px !important;
  }
  span {
    display: inline-table;
  }
}

ul.report-menu {
  background: #FFF;
  width: 100%;
  list-style: none;
  border-bottom: 1px solid #CCCCCC;
  margin: 0;
  padding: 0;
  z-index: 900;
  position: fixed;

  li {
    float: left;
    border-bottom: 4px solid #FFF;
    padding: 15px 0;

    &.active {
      border-bottom: 4px solid #469CCD;

      a {
        color: #000;
      }
    }

    a {
      display: block;
      padding: 0 22px;
      color: #999;
      border-right: 1px solid #CCCCCC;
      font-weight: bold;
      text-decoration: none;

      &:hover, &:active {
        text-decoration: none;
      }
    }
  }
}

.reports-show {
  padding-top: 70px;

  .status-bar {
    border-top: 1px solid #CCC;
  }

  .report-data p {
    float: left;
    margin: 0;
  }

  .report-data a.link {
    float: right;
    font-weight: bold;
  }

  .gallery a.image {
    width: 250px !important;
    height: 200px !important;
    background-size: cover !important;
    border: 1px solid #E7E7EF;
    border-radius: 4px;
    margin-bottom: 10px;
  }

  .user-message {
    .avatar {
      width: 10%;
      float: left;
      text-align: center;

      img {
        width: 40px;
        height: 40px;
        border-radius: 6px;
      }
    }

    .infos {
      width: 90%;
      float: left;
      padding-left: 10px;

      h2 {
        font-size: 16px;
        margin: 0 0 15px 0;

        span {
          font-size: 12px;
          color: #CCC;
          font-weight: normal;
          padding-left: 5px;
        }
      }

      textarea.form-control {
        box-shadow: none;
        resize: none;
        padding: 15px 20px;

        @include transition-property(height);

        &:focus {
          box-shadow: 0 0 0 1px #4293C8;
        }
      }

      .options {
        margin-top: 20px;

        &.ng-hide-add,
        &.ng-hide-remove {
          @include transition-property(4s linear all);

          display: block !important;

          @include animation-fill-mode(both);
          @include animation-duration(0.6s);
          @include animation-name(flipInX);
        }

        &.ng-hide {
          @include animation-fill-mode(both);
          @include animation-duration(0.6s);
          @include animation-name(flipOutX);
        }

        .processing-comment {
          @include animation(pulse 3s infinite);
        }

        .bootstrap-switch {
          min-width: 140px;
          float: left;
        }

        span.help {
          font-size: 12px;
          color: #CCC;
          margin: 7px 0 0 10px;
          float: left;
        }
      }
    }

    &.system-comment {
      textarea.form-control {
        background: #FAF3C7;
      }

      p {
        background: #FAF3C7;
        border: 1px solid #D6CE79;
        border-radius: 4px;
        padding: 20px 30px;
      }
    }

    &.animate-repeat.ng-enter {
      @include transition-property(3s linear all);

      display: block !important;

      @include animation-fill-mode(both);
      @include animation-duration(0.6s);
      @include animation-name(fadeInDown);
    }

  }
}

#related-case {
  .row {
    height: 220px;
    padding-top: 25px;
  }

  .left-col {
    float: left;
    text-align: center;
    margin-left: 40px;
  }

  .right-col {
    float: left;
    margin-left: 25px;
    line-height: 30px;
    margin-top: 10px;

    label {
      width: 147px;
    }
  }

  i {
    font-size: 70px;
    color: #D9D9D9;
    margin-right: 5px;
    margin-top: 20px;
  }

  .case-button-container {
    display: inline-block;
    width: 165px;
    height: 165px;
    padding: 10px;
    background-color: #F2F2F2;
    border-radius: 5px;

    button {
      width: 90%;
      margin-top: 10px;
    }
  }
}

.report-edit-category-modal {
  .modal-dialog {
    width: 580px;
  }

  .modal-header, .modal-body, .modal-footer {
    padding: 30px;
  }

  p {
    margin: 0;
  }

  .spacing {
    height: 30px;
  }

  .color-ball {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    margin-right: 5px;
  }

  .ui-select-bootstrap .ui-select-match {
    height: 50px;
    padding: 6px 20px;
    box-shadow: none;
  }

  .ui-select-bootstrap .ui-select-search {
    height: 50px;
    padding: 6px 20px;
  }
}

.reports-forward-modal {
  .modal-dialog {
    width: 580px;
  }

  .add-comment {
    textarea.form-control {
      box-shadow: none;
      resize: none;
      padding: 15px 20px;
      height: auto;

      @include transition-property(height);

      &:focus {
        box-shadow: 0 0 0 1px #4293C8;
      }
    }
  }
}

/* Print layout classes */
.print-template {
  background: #FFF;

  #report-info {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;

    -webkit-column-break-after: always;
    page-break-after: always;
    break-after: always;

    height: 8.25in;

    #report-user, .report-data {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
    }
  }

  .content {
    width: 800px;
    margin: 0 auto;
    top: 100px;

    .header {
      width: 100%;
      padding: 20px 0;
      text-align: center;
      margin-bottom: 30px;
    }

    .row {
      margin-bottom: 50px;
    }

    .section {
      margin-top: 30px;
    }

    .history .row {
      margin-bottom: 0;
    }

    .history-date {
      text-align: right;
    }
  }
}

@media print {
  img {
    max-width: none !important;
  }
}

.phraseologies-select {
  margin-bottom: 10px;

  .dropdown-menu {
    ul {
      list-style: none;
    }

    ul li a {
      color: #000;
      font-size: 14px;
      cursor: pointer;
    }
  }
}

.add-report-images {
  .alerts {
    margin-top: 15px;
    margin-left: 140px;
    margin-right: 58px;
  }

  .options {
    margin-top: 20px;
    margin-left: 140px;

    .bootstrap-switch {
      min-width: 140px;
      float: left;
    }

    span.help {
      margin-left: 20px;
      font-size: 12px;
      color: #999999;
    }
  }
}

.report-images-galery {

  .thumbnail {
    padding: 0 !important;
    border-radius: 0 !important;
    max-width: 252px;
    min-width: 252px;
    margin: 0 auto 20px auto;

    .origin {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 2px;
      font-size: x-small;
      padding: 3px 6px 3px 6px;
      color: #fdfdfd;
      top: 0;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
    }

    .visibility {
      @extend .origin;
      margin-left: 185px;
    }

    .caption {
      height: 120px;

      .unavailable {
        color: #999999;
        font-style: italic;
      }
    }

    .actions {

      .icon_action {
        padding-right: 15px;
        padding-bottom: 10px;
        font-size: 18px;
      }
    }
  }
}

.imagesAddModal {

  .modal-dialog {
    width: 800px;
  }

  .images-add-modal-body {

    .file-uploader {
      padding: 0 20px 0 20px;
    }

    textarea.report-image-title {
      min-height: 80px;
      resize: none;
    }

    .alerts {
      margin-top: 15px;
      margin-left: 140px;
      margin-right: 58px;
    }

    .options {
      margin-top: 20px;
      margin-left: 126px;

      .bootstrap-switch {
        min-width: 140px;
        float: left;
      }

      span.help {
        font-size: 12px;
        color: #999999;
      }
    }
  }
}

.imagesEditModal {

  .modal-dialog {
    width: 650px;
  }

  .images-edit-modal-body {

    .origin {
      background: rgba(0, 0, 0, 0.6);
      border-radius: 2px;
      font-size: x-small;
      padding: 3px 6px 3px 6px;
      color: #fdfdfd;
      top: 0;
      position: absolute;
      margin-top: 10px;
      margin-left: 10px;
    }

    textarea.report-image-title {
      min-height: 80px;
      resize: none;
    }

    .options {
      margin-top: 20px;

      .bootstrap-switch {
        min-width: 140px;
        float: left;
      }

      span.help {
        font-size: 12px;
        color: #999999;
      }
    }

    .unavailable {
      color: #999999;
      font-style: italic;
    }
  }

  .images-edit-modal-footer {

    .btn-danger {
      color: white !important;
      border-color: #d9534f !important;
      background-color: #d43f3a !important;

      &:hover {
        background-color: #d9534f !important;
      }
    }
  }
}

.loadingReportImages {
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  position: absolute;
  z-index: 999;

  span {
    display: block;
    position: relative;
    top: 50%;
    left: 50%;
    width: 64px;
    height: 64px;
    margin: -32px 0 0 -32px;
    background: url(../../images/loading.gif);
    background-size: 64px 64px;
  }
}

.images-no-content-message {
  text-align: center;
  margin-top: 0;

  p {
    color: #909090;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.77);
    margin: 17px 15px 0 0;
    font-size: large;
  }
}
